@model OrganizationCreateVM
@using SharpMember.Core.Data.Models.MemberSystem
@using SharpMember.Core.Views.ViewModels

<table id="table-for-list-info" class="table" style="width: 550px;">
    <thead>
        <tr>
            <th>@nameof(MemberProfileItemTemplate.ItemName)</th>
            <th>@nameof(MemberProfileItemTemplate.IsRequired)</th>
        </tr>
    </thead>
    <tbody>
        @for(int i = 0; i < Model.MemberProfileItemTemplates.Count; i++)
        {
            <tr class="table-row-for-list-info">
                <td>@Html.TextBoxFor(modelItem => modelItem.MemberProfileItemTemplates[i].ItemName,new { @class = "form-control" })</td>
                <td>@Html.CheckBoxFor(modelItem => modelItem.MemberProfileItemTemplates[i].IsRequired)</td>
            </tr>
        }
    </tbody>
</table> 