@model OrganizationUpdateVM
@addTagHelper *,SharpMember
@using SharpMember.Core.Views.ViewModels

@{
    ViewData["Title"] = "View";
}

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Edit Community</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div style="padding-left: 5px;">
            <label asp-for="Name">Organization Name</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <hr />
        @Html.Partial("_MemberProfileItemTemplateForm")

        <hr />
        <div class="form-group">
            <div class="col-md-offset-5 col-md-7">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
