@model CommunityUpdateVM
@addTagHelper *,SharpMember
@using SharpMember.Core.Views.ViewModels

@{
    ViewData["Title"] = "View";
}

<div class="row">
    <div class="col-md-5">
        <br />
        <h4>Edit Community</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-5">

        <form asp-action="Edit">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div style="padding-left: 5px;">

                <vc:form-groups entity-type=@Model.GetType()
                                instance=@Model
                                hidden-fields="id"
                                readonly-fields=""
                                text-area-fields="Introduction,Announcement" />
            </div>

            <hr />
            @Html.Partial("_MemberProfileItemTemplateForm")

            <hr />
            <div class="form-group" style="float: right;">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
    <div class="col-md-2">
        <hr />
        <a asp-action="Index"><div>Back to Community List</div></a>
        <a asp-action="Members" asp-route-commId="@Model.Id"><div>Members</div></a>
        <a asp-action="Groups" asp-route-commId="@Model.Id"><div>Groups</div></a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
