@model CommunityUpdateVM
@addTagHelper *,SharpMember
@using SharpMember.Core.Views.ViewModels

@{
    ViewData["Title"] = "View";
}

<div class="row">
    <div class="col-md-5">
        <br />
        <h4>Edit Community</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-5">

        <form asp-action="Edit">
            <div class="form">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Name">Community Name</label>
                    <input asp-for="Name" class="form-control" />
                </div>
                <hr />
                @Html.Partial("_MemberProfileItemTemplateForm")

                <hr />
                <div class="form-group" style="float: right;">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2">
        <hr />
        <a asp-action="Members" asp-route-commId="@Model.Id">Member List</a>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
