@model CommunityGroupsVM
@using SharpMember.Core.Views.ViewModels

@{
    ViewData["Title"] = "Groups";
}

<h2>Groups</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Select</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.ItemViewModels.Count; i++)
        {
            <tr>
                <td>@Html.CheckBoxFor(m => m.ItemViewModels[i].Selected)</td>
                <td><a asp-action="Edit" asp-controller="Groups" asp-route-id="@Model.ItemViewModels[i].Id">@Model.ItemViewModels[i].Name</a></td>
            </tr>
        }
    </tbody>
</table>
