@model CommunityIndexVm
@using SharpMember.Core.Views.ViewModels.CommunityVms

<form asp-action="Index">
    <h2>Communities</h2>
    <div class="form-horizontal">
        <input type="submit" value="Subscribe Selected" class="btn btn-default" />
        <a asp-action="Create" class="btn btn-default">Create New Community</a>

        <br />
        <br />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <table class="table">
            <thead>
                <tr>
                    <th width="100px">Select</th>
                    <th width="200px">Names</th>
                    <th>Introduction</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.ItemViewModels.Count; i++)
                {
                    <tr>
                        <td>@Html.CheckBoxFor(m => m.ItemViewModels[i].Selected)</td>
                        <td><a asp-action="Edit" asp-route-id="@Model.ItemViewModels[i].Id"><div>@Model.ItemViewModels[i].Name</div></a></td>
                        <td>@Model.ItemViewModels[i].Introduction</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>