@model MemberCreateViewModel
@using SharpMember.Core.Data.Models.MemberSystem
@using SharpMember.Core.Views.ViewModels

<table class="table" style="float:right">
    <tbody>
        @for(int i = 0; i < Model.MemberProfileItems.Count; i++)
        {
            <tr class="table-row-for-list-info">
                <td class="table-first-col"><label>@Html.DisplayFor(modelItem => modelItem.MemberProfileItems[i].ItemName)</label></td>
                <td><div class="table-second-col-div">@Html.TextBoxFor(modelItem => modelItem.MemberProfileItems[i].ItemValue, new { @class = " form-control" })</div></td>
            </tr>
        }
    </tbody>
</table>