@model MemberCreateViewModel
@using SharpMember.Core.Data.Models.MemberSystem
@using SharpMember.Core.Views.MemberSystem

<table class="table">
    <thead>
        <tr>
            <th>@nameof(MemberProfileItem.ItemName)</th>
            <th>@nameof(MemberProfileItem.ItemValue)</th>
        </tr>
    </thead>
    <tbody>
        @for(int i = 0; i < Model.MemberProfile.MemberProfileItems.Count; i++)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => modelItem.MemberProfile.MemberProfileItems[i].ItemName)</td>
                <td>@Html.TextBoxFor(modelItem => modelItem.MemberProfile.MemberProfileItems[i].ItemValue, new { @class = "form-control" })</td>
            </tr>
        }
    </tbody>
</table>