@model MemberUpdateVM
@addTagHelper *,SharpMember
@using SharpMember.Core.Data.Models.MemberSystem
@using SharpMember.Core.Views.ViewModels

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-5">
        <form asp-action="Create">
            <h4>Create New Member</h4>

            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <vc:form-groups entity-type=@Model.GetType() hidden-fields="id" readonly-fields="" text-area-fields="remarks"></vc:form-groups>

            <hr />
            @Html.Partial("_ProfileItemsForm") @* TODO: make a mcn note here, if need the partial view for posting, the partial view's model must be the same with its host view, otherwise it won't bind correctly *@

            <hr />
            <div class="form-group">
                <div class="col-md-offset-5 col-md-7">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
