@model MemberUpdateVM
@using SharpMember.Core.Views.ViewModels

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Edit New Member</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <vc:form-groups entity-type=@Model.GetType() hidden-fields="" readonly-fields="id" text-area-fields="remarks"></vc:form-groups>
        <br />
            <h4>Additional Profile Information</h4>
            <br />
            @Html.Partial("_ProfileItemsForm")
        <hr />
        <div class="form-group">
            <div class="col-md-offset-5 col-md-7">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
