@model MemberUpdateVM
@addTagHelper *,SharpMember
@using SharpMember.Core.Views.ViewModels

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-5">
        <br />
        <h4>Edit Member</h4>
    </div>
</div>

<form asp-action="Edit">
    <div class="row">
        <div class="col-md-5">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <vc:form-groups entity-type=@Model.GetType()
                            instance=@Model
                            hidden-fields="id,CommunityId,ApplicationUserId"
                            readonly-fields=""
                            text-area-fields="remarks" />
        </div>

        <div class="col-md-5">
            <hr />
            @Html.Partial("_ProfileItemsForm")
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <hr />
            <div class="form-group" style="float: right;">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Members" asp-controller="Communities" asp-route-commId="@Model.CommunityId">Back to Member List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
