@model List<MemberProfileItem>
@using SharpMember.Core.Data.Models.MemberSystem

@{
    ViewData["Title"] = "Edit Profile Items";
}

<h2>Edit Profile Items</h2>

@{ Html.RenderPartial("_ProfileItemsForm"); }